!!!5
%html
  %head
    :plain
      <meta charset="utf-8">
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    %title georgios kaleadis

    = stylesheet_link_tag :styles
    = javascript_include_tag  :application

  %body
    = yield