:markdown
  # Pinball phaser, p2 & debug drawer
  + Key Z & X for the flippers
  + Click to palce a circle or rectangle anywhere 
  + Press a direction key (left, top, right, bottom) during a click to add some velocity in that direction
  + Press P to toggle debug render mode

#pinball